  <%= form_with(model: [@question_group, question], class: "py-5") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="bg-gray-50 text-red-700 p-5 rounded-sm mb-10">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-5 mb-5 *:flex-1">
    <div class="">
      <%= form.label :label %>
      <%= form.text_field :label, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="">
      <%= form.label :kind %>
      <%= form.select :kind, Question.kinds.keys, {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="">
    <%= form.label :value %>
    <%= form.text_field :value, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mt-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
