<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= question.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= question.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= question.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Question group:</strong>
    <%= question.question_group_id %>
  </p>

</div>
