<%= turbo_frame_tag dom_id(@question_group, :questions), refresh: :morph do %>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% content_for :title, "Questions" %>
    <h2 class="mb-5 font-bold text-2xl">Questions</h2>

    <%= form_with model: @question_group, 
                  url: save_answers_question_group_path(@question_group), 
                  method: :patch,
                  data: { controller: "liveform" } do |form| %>
      <div class="space-y-5">
        <% if @question_group.questions.any? %>
          <% @question_group.questions.each do |question| %>
            <%= render question, form: form %>
            <% if question.value == 'MAGICWORD' %>
              <p class="bg-gray-50 p-2.5 rounded">Magic stuff here</p>
            <% end %>
          <% end %>
        <% else %>
          <p class="text-gray-500">No questions yet.</p>
        <% end %>
      </div>
      <% unless params[:edit] %>
        <div class="flex justify-end py-5">
          <%= form.submit "Save Answers", class: 'bg-green-600 hover:bg-green-800 cursor-pointer rounded text-white px-4 py-2' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
