<div class="mb-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @question_group %>

  <%= link_to "Back", question_groups_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Edit", edit_question_group_path(@question_group), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy", @question_group, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
</div>

<div class="px-5 lg:px-0">
  <%= turbo_frame_tag dom_id(@question_group, :questions), async: true, src: question_group_questions_path(@question_group), refresh: :morph %>
</div>
